# Dependency directories
/node_modules

# Build files
/build
/dist
/public
/.next
/.idea
/.vscode

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Log files
*.log

# User-specific files
.DS_Store
